.book-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  padding: 16px;
}

.chapter {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  background-color: #fff;
  width: calc(25% - 16px);
  height: calc(25% - 16px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chapter h4 {
  font-size: 16px;
  margin-bottom: 8px;
}

.chapter p {
  font-size: 14px;
  color: #555;
}
